html{
    background-color: teal;
}
body{
    margin: 0 auto;
}
header{
    text-align: center;
    font-size: 200%;
}
h1{
    color: linear-gradient(90deg, purple, turquoise, #FF5C5C);
}
div {
    clear: both;
}
img{
    max-width: 400px;
    width: 100%;
    height: 12%
    margin: 5px;
}
.OrangeCat img{
    float: left;
}
.RussianBlue img{
    float: right;
}
.ColorPoint img{
    float: left;
}
.SiameseCat img{
    float: right;
}
.SphynxCat img{
    float: left;
}
.OreoCat img{
    float: right;
    margin-bottom: 10px;
}
footer{
    clear: both;
    color: white;
    background-image: linear-gradient(90deg, purple, turquoise, #FF5C5C);
    box-shadow: 10px 10px 10px white;
    width: 60%;
    margin: 10px auto;
    padding: 10px;
}

footer p {
    text-align: center;
}
