html{
    background-color: teal;
}
body{
    margin: 0 auto;
}
OrangeCat{
    width: 100%;
}
OrangeCat img{
    max-width: 30%;
    width: 30%;
    height: auto;
}
footer p{
    text-align: center;
}
