html{
    background-color: teal;
}
body{
    margin: 0 auto;
}
div {
  max-width: 100%;
  max-height: 20%;
}
.OrangeCat img{
    max-width: 30%;
    width: 30%;
    height: auto;
}
footer p{
    text-align: center;
}
